<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Envestful</title>
    <link rel="stylesheet" href="/static/bulma.css">
</head>

<body style="overflow: hidden;">
    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="content has-text-centered is-large">
          <p>
            <strong>Envestful</strong> by Adam Nguyen, Abby Hall, and <a href="https://jchacko.dev">Jonathan Chacko</a>. Made with 
            ❄️ at HackDFW
          </p>
        </div>
      </footer>

</body>

</html>