{% extends 'base.html' %}


{% block content %}

<section class="section">
    <h1 class="title is-1">Your Portfolio {{ user_score }}</h1>
    <div class="container">
        <pre></pre>
        <div id="bubble"></div>
        <table class="table is-striped is-fullwidth sortable">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Holdings</th>
                    <th>ESG Score</th>
                    <th>Environment</th>
                    <th>Social</th>
                    <th>Governance</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stock_data %}
                    <tr>
                        <td>{{stock['symbol']}}</td>
                        <td>{{stock['amount']}}</td>
                        <td>{{stock['esg']['esgScore']['TR.TRESG']['score'] if stock['esg'] else "-"}}</td>
                        <td>{{stock['esg']['esgScore']['TR.EnvironmentPillar']['score'] if stock['esg'] else "-"}}</td>
                        <td>{{stock['esg']['esgScore']['TR.SocialPillar']['score'] if stock['esg'] else "-"}}</td>
                        <td>{{stock['esg']['esgScore']['TR.GovernancePillar']['score'] if stock['esg'] else "-"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

<style>
    /* .svg-container > svg{
        border-radius: 8px;
        background: white;
        overflow: hidden;
    } */

    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        /* aspect ratio */
        vertical-align: top;

    }

    .svg-container > svg{
        width: 100%;
        overflow: hidden;
        background: white;
        border-radius: 18px;
    }

    .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
    }
</style>


<script>
    var width = 750,
        height = 500,
        padding = 4, // separation between same-color nodes
        clusterPadding = 4, // separation between different-color nodes
        maxRadius = 10;

    // let color = d3.scaleQuantize()
    //     .domain([0, 100])
    //     .range(['#FC3142', '#FE9220', '#FED030', '#53D769']);

    const color = (x) => {
        if (x < 25) return '#FC3142'
        if (x < 50) return '#FE9220'
        if (x < 75) return '#FED030'
        return '#53D769'

    }

    var data = {{ data | safe }};

    data.forEach(function (d) {
        d.size = +d.size;
    });


    //unique cluster/group id's
    var cs = [];

    data.forEach(function (d) {
        if (!cs.includes(x => x === d.group)) {
            cs.push(d.group);
        }
    });

    var n = data.length, // total number of nodes
        m = cs.length; // number of distinct clusters

    //create clusters and nodes
    var clusters = new Array(m);
    var nodes = [];
    for (var i = 0; i < n; i++) {
        nodes.push(create_nodes(data, i));
    }

    var force = d3.layout.force()
        .nodes(nodes)
        .size([width, height])
        .gravity(.02)
        .charge(0)
        .on("tick", tick)
        .start();

    var svg = d3.select("#bubble")
        .append("div")
        .classed("svg-container", true) //container class to make it responsive
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        //responsive SVG needs these 2 attributes and no width and height attr
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 600 400")
        //class to make it responsive
        .classed("svg-content-responsive", true);



    var node = svg.selectAll("circle")
        .data(nodes)
        .enter().append("g").call(force.drag);


    node.append("circle")
        .style("fill", function (d) {
            console.log(d)
            return d.esg ? color(d.esg) : 'grey';
        })
        .attr("r", function (d) { return d.radius })


    node.append("text")
        .attr("dy", ".1em")
        .style("text-anchor", "middle")
        .attr("font-size", ".8em")
        .text(function (d) { return d.text; });


    function create_nodes(data, node_counter) {
        console.log(data[node_counter])

        var i = cs.indexOf(data[node_counter].group),
            r = Math.sqrt((i + 1) / m * -Math.log(Math.random())) * maxRadius,
            d = {
                cluster: i,
                esg: data[node_counter].esg ? data[node_counter].esg['esgScore']['TR.TRESG']['score'] : null,
                radius: Math.sqrt(data[node_counter].amount * 1.25) + 8,
                text: data[node_counter].symbol,
                x: Math.cos(i / m * 2 * Math.PI) * 200 + width / 2 * Math.random(),
                y: Math.sin(i / m * 2 * Math.PI) * 200 + height / 2 * Math.random()
            };
        if (!clusters[i] || (r > clusters[i].radius)) clusters[i] = d;
        return d;
    };



    function tick(e) {
        node.each(cluster(10 * e.alpha * e.alpha))
            .each(collide(.5))
            .attr("transform", function (d) {
                var k = "translate(" + d.x + "," + d.y + ")";
                return k;
            })

    }

    // Move d to be adjacent to the cluster node.
    function cluster(alpha) {
        return function (d) {
            var cluster = clusters[d.cluster];
            if (cluster === d) return;
            var x = d.x - cluster.x,
                y = d.y - cluster.y,
                l = Math.sqrt(x * x + y * y),
                r = d.radius + cluster.radius;
            if (l != r) {
                l = (l - r) / l * alpha;
                d.x -= x *= l;
                d.y -= y *= l;
                cluster.x += x;
                cluster.y += y;
            }
        };
    }

    // Resolves collisions between d and all other circles.
    function collide(alpha) {
        var quadtree = d3.geom.quadtree(nodes);
        return function (d) {
            var r = d.radius + maxRadius + Math.max(padding, clusterPadding),
                nx1 = d.x - r,
                nx2 = d.x + r,
                ny1 = d.y - r,
                ny2 = d.y + r;
            quadtree.visit(function (quad, x1, y1, x2, y2) {
                if (quad.point && (quad.point !== d)) {
                    var x = d.x - quad.point.x,
                        y = d.y - quad.point.y,
                        l = Math.sqrt(x * x + y * y),
                        r = d.radius + quad.point.radius + (d.cluster === quad.point.cluster ? padding : clusterPadding);
                    if (l < r) {
                        l = (l - r) / l * alpha;
                        d.x -= x *= l;
                        d.y -= y *= l;
                        quad.point.x += x;
                        quad.point.y += y;
                    }
                }
                return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
            });
        };
    }


    // Array.prototype.contains = function (v) {
    //     for (var i = 0; i < this.length; i++) {
    //         if (this[i] === v) return true;
    //     }
    //     return false;
    // };
</script>
{% endblock %}