{% extends 'base.html' %}


{% block content %}

<div id="front-page-blob">
    <img src="static/blob1.svg" class="ribbon" />
</div>

<!-- <div id="front-page-logo">
    <img src="static/logo.png" class="ribbon" />
</div> -->

<div>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <div class="navbar-item ml-2" href="">
                    <img src="static/logo.png" style="width: 18rem;height: auto;max-height: 5rem;max-width: 40vw;">
                  </div>
            
                </div>
              </nav>
              
        </div>
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title is-size-1-mobile tagline">
                    Invest in a <br>better world.
                </h1>
                <a class="button is-primary is-rounded is-large is-size-6-touch" href="/login">Sign in with TD Ameritrade</a>
                <a class="button is-rounded is-large is-size-6-touch" href="/build">Build Custom Portfolio</a>

                
            </div>
        </div>
    </section>
</div>

<style>
    #front-page-blob {
    position: relative;
}
#front-page-blob img {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 60%;
    height: auto;
    /* right: -100px;
    width: 600px; 
    height: 400px; */
}

#front-page-logo img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%; 
    height: auto;
}

.tagline {
  max-width: 60%;
  font-size: 6vw;

}

body {
  background: floralwhite;
}
</style>
{% endblock %}